<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Administrator</title>
</head>
<body>
管理者専用
<dl>
    <dt>username</dt>
    <dd sec:authentication="principal.username">__username__</dd>
    <dt>authorities</dt>
    <dd sec:authentication="principal.authorities">__authorities__</dd>
</dl>
<p>
    <a th:href="@{/logout}">logout</a>
</p>
</body>
</html>